DATABASE_URL="file:./dev.db"

BETTER_AUTH_SECRET="/QOS9nZI1dsQZh34aHcEYFgVSALaRWQ4cI77RgAgCrw="

BETTER_AUTH_URL="http://localhost:3000"

EMAIL_USER="trungtin30072005@gmail.com"

EMAIL_PASS="wfpepildquhmuyup"

 